.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 2rem;
 }
 

  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 160px); /* 100% de la largeur de la fenêtre de visualisation moins 160px de padding */
    padding: 1rem 5rem;
}
 
 
 .icones { 
  display: flex;
  align-items: center;
 }
 
 .image1 {
    display: block;
    margin: auto;
    margin-top: 46px;
    object-fit: cover;
    width: 280px;
    height: 320px;
    box-shadow: 0 0 10px grey;
   }




 @media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
      flex-direction: column;
      max-width: 100%;
      margin: 0;
  }
  .welcome-section {
      width: 100%;
      padding: 0;
  }
  .welcome-section img {
      width: 100%;
  }
  .text-container {
      max-width: 100%;
      margin-right: 0px;
  
  }
  .image1 {
    width: 70%;
  }
}