.contact-section {
    margin: 96px 0;
    text-align: center;

    a {
      line-height: 0; 
      font-size: 0;
      color: transparent; 
    }
   
    .contact-info {
     display: flex;
     flex-direction: column; // Change la direction en colonne
     justify-content: space-around;
     align-items: center;
     margin-top: 96px;
   
     .email-info, .phone-info {
       display: flex;
       align-items: center;
   
       h2 {
         margin-left: 16px;
       }
   
       .a 
       .icon-with-space {
        margin-left: 10px;
       }
       .icon-hover:hover {
        cursor: pointer;
       }
     }
    }
   }

   .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
   }
   
   .scroll-to-top svg {
    font-size: 2rem;
   }
   .contact-text {
    display: block;
    text-align: center;
    width: 576px;
    margin: auto;
    margin-top: 48px;
   }

   @media (max-width: 768px) {
    .contact-text {
      width: 100%;
    }
   }