.contact-section {
    margin: 96px 0;
    text-align: center;
   
    .contact-info {
     display: flex;
     flex-direction: column; // Change la direction en colonne
     justify-content: space-around;
     align-items: center;
     margin-top: 96px;
   
     .email-info, .phone-info {
       display: flex;
       align-items: center;
   
       h2 {
         margin-left: 16px;
       }
   
       .copy-button {
         margin-left: 16px;
       }
     }
    }
   }
   .contact-text {
    display: block;
    text-align: center;
    width: 576px;
    margin: auto;
   }