

.container {
  
  height: 1.4375rem; /* 22px / 16px = 1.4375rem */
  display: flex;
  justify-content: space-between;
  margin-right: 17px;
  margin-bottom: 96px;
  margin-top: 17px;
 }
 
 .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 /* style logo */
 $logo-width: 10.75rem; /* 169px / 16px = 10.75rem */
 $logo-height: 2.25rem; /* 36px / 16px = 2.25rem */
 
 .logo {
  width: $logo-width;
  height: $logo-height;
  padding-left: 1rem;
 }
 
 /* style Navigation */
 .link-group {
  display: flex;
  gap: 1rem; /* 16px / 16px = 1rem */
  
  margin-left: auto;
  color: black !important;
 }
 .link-group .link {
  white-space: nowrap;
}

 .link {
  margin-right: 1.5rem;

 }
 
  .button {
    background-color: #111827;
    color: #F9FAFB;
    width: 136px;
    height: 36px;
    border-radius: 12px;
    padding: 6px 16px;
    gap: 8px;
   }
 
   .hamburger {
    display: none;
    cursor: pointer;
   }
   .hamburger.close {
    position: absolute;
    top: 10px;
    right: 10px;
   }

 @media screen and (max-width: 768px) {
  .container {
  flex-direction: column;
  align-items: center;
  }
 
  .hamburger {
    display: block;
 }

 .link-group {
    display: none;
 }
 nav {
  background-color: #f8f9fa;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  color: black;
  width: 100%;
  padding: 1.5rem 0;
}

nav ul li:hover {
  background-color: #eee;
}

}

@media screen and (min-width: 769px) {
  .link-group {
     display: block;
  }
 }