.containerpres {
    width: 100%;
    height: auto;
}

.souscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; // Ajoutez cette ligne
}

.text-container {
    width: 50%;
    margin-right: 80px;
    
}

.image-container {
    
    
}

.image2 {
    
        margin-left: 80px;
        margin-top: 48px;
        max-width: 100%; 
        object-fit: cover;
        height: 440px;
        box-shadow: 0 0 10px grey;
    
}

.point-list {
    display: flex;
    justify-content: space-between;
    list-style-type: disc;
}

.point-list li {
    width: 45%;
    text-align: left;
}


@media (max-width: 768px) {
    .souscontainer {
        flex-direction: column;
        padding: 0 1rem;
    }

    .text-container,
    .image-container {
        width: 70%;
        order: 1;
        padding: 0;
        margin: auto; 
    
    
    }
    .image2 {
        margin: 0;
    }
}
