$text-color: #4B5563;

p {
    color: $text-color;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

}
.link {
    font-size: 1.25rem;
    color: $text-color;
    text-decoration: none;
    font-weight: 500;
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #111827;
}

.subtitle {
    @extend p;
    text-align: center;
    margin-bottom: 48px;
}

.typing-effect span {
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    color: #111827;
}