
.container {
    padding: 16px 80px;
}

/* style logo */
$logo-widht: 169px;
$logo-height: 36px;

.logo {
    width: $logo-height;
    height: $logo-widht;
}
/* style Navigation */
.link {
  align-items: flex-end;
/* style CVButton */ 
 }