$text-color: #4B5563;

p {
    color: $text-color;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;

}
.link {
    font-size: 1.25rem;
    color: $text-color;
    text-decoration: none;
    font-weight: 500;
}